<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app 
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="2.4">
     <display-name>ServletSimple </display-name>
     <description> Servlet muy simple </description>
     <servlet>
           <servlet-name>ServletP2</servlet-name>
           <servlet-class> p2.Sint197P2 </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name>ServletP2</servlet-name>
           <url-pattern> /P2M </url-pattern>   
</servlet-mapping>
     <servlet>
           <servlet-name>ServletP3</servlet-name>
           <servlet-class> p3.Sint197P3 </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name>ServletP3</servlet-name>
           <url-pattern> /P3M </url-pattern>   
</servlet-mapping>
</web-app>
